.git
.gitignore
node_modules
**/node_modules
backend/venv
**/venv
.next
**/.next
.DS_Store
**/.DS_Store
frontend/node_modules
backend/__pycache__
**/*.pyc
.pytest_cache
.env
**/.env

!gateway_certs
!gateway_certs/**
!backend/infra/kong/kong.yml
